#*#
*~
*.o
fort.*
*.pdf
*.zip
.DS_STORE

###############
# executables
###############
pep/pep
verify/verify
peputil/abcps
peputil/convw0
peputil/cplnq
peputil/cpynbq
peputil/cpynrm
peputil/cpyobs
peputil/ctchar
peputil/intrlv
peputil/prepmnpt
peputil/psrcard

##########################
# make in pep makes these
##########################
pep/blkd1prv

################################
# make in peputil/ makes these
################################
peputil/abc.dummy
peputil/bigconv.out
bigtest/nbody.v311
bigtest/nbody.v443
bigtest/nbody.v452
bigtest/tfl.obs
bigtest/tfl.w0
bigtest/tfr.ctatint
bigtest/tfr.int
bigtest/tfr.obs
bigtest/tfr.obspvmdl
bigtest/tfr.obspvmnc
bigtest/tfr.pvm09
bigtest/tfr.pvm13
bigtest/tfr.tsne
bigtest/tin.obs
bigtest/tin.ppr
bigtest/tmn.moon
bigtest/tmn.mrot
bigtest/tmn.ntp1
bigtest/tmn.ntp72
bigtest/tmn.obsllr
bigtest/top.obstop
bigtest/ttr.sbody

###############################
# Running bigtest makes these
###############################
bigtest/tfl.abc
bigtest/tfl.out
bigtest/tfl.verout
bigtest/tfr.abc
bigtest/tfr.out
bigtest/tfr.verout
bigtest/tin.out
bigtest/tin.verout
bigtest/tmi.abc
bigtest/tmi.ales
bigtest/tmi.bles
bigtest/tmi.nbody
bigtest/tmi.out
bigtest/tmi.verout
bigtest/tmn.abc
bigtest/tmn.out
bigtest/tmn.verout
bigtest/toc.abc
bigtest/toc.out
bigtest/toc.verout
bigtest/top.abc
bigtest/top.out
bigtest/top.verout
bigtest/tpl.abc
bigtest/tpl.out
bigtest/tpl.verout
bigtest/ttr.abc
bigtest/ttr.out
bigtest/ttr.verout
bigtest/tv1.abc
bigtest/tv1.out
bigtest/tv1.verout
bigtest/tv1.vko
bigtest/tv2.abc
bigtest/tv2.out
bigtest/tv2.verout
